*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #FFF5EE;

}
.iclass{
    display:none;
    font-size:20px;
}
a{
    text-decoration: none;
}
button{
    all: unset;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* This 2 above would only work with display flex or display grid */
    background-color: white;
    padding: 10px 30px;
    
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    /* This 1 above would only work with display flex or display grid */
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navb{
    background-color: #800080;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 600;
}
nav a{
    color: black;
    font-size: 20px;
}
nav span{
    font-weight: 700;
    font-size: 30px;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.main-content{
    width: 50%;
}
main img{
    width: 40%;
    padding: 20px 40px;

}
.main-content h1{
        font-size: 80px;
}
.main-content p{
    font-size:25px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.one{
    background-color: #800080;
    color: white;
    padding: 20px 20px;
    border: 2px solid #545454;
}
.two{
    background-color: #F0F0F0;
    padding: 20px 20px;
    border: 2px solid #800080;
}

@media screen and (max-width: 992px){
    .main-content h1{
        font-size: 50px;
    }
    .main-content p{
        font-size: 15px;
    }
    button{
        padding: 15px 15px !important;
    }
    main img{
        padding: 0;
    }
    .button{
        display:none;
    }
}
@media screen and (max-width:768px){
    .main-content h1{
        font-size:30px;
    }
    button{
        padding:10px;
        margin-bottom:10px;
        font-size:14px;
    }
    .iclass{
        display:block;
    }
    nav ul{
        position:fixed;
        top: -30%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color: #edb32a;
        border: none;
        flex-direction: column;
        width: 50%;
        text-align: center;
        border-radius: 20px;
        z-index: 1;
        transition: 0.2s;
        padding:20px 0;
    }
    .ri-close-line{
        display:none;
    }
}
@media screen and (max-width:576px){
    main{
        flex-direction: column-reverse;
        text-align: center;
        padding:0;
        margin: 0 auto;
    }
    .main-content h1{
        font-size: 30px;
    }
    main img{
        width:60%;
        margin: 30px 0;
    }
}
@media screen and (max-width: 375px){
    .main-content h1{
        width:100%;
        font-size:20px;
    }
    .main-content p{
        font-size:14px;
    }
}